@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <div class="wrapper">
        <h1 class="display-4">Welcome to WebGenius Solutions</h1>
    <p class ="text-1">Your gateway to cutting-edge web development. We craft seamless websites that blend technology with artistry,
        creating captivating digital experiences that leave a lasting impact. Join us in shaping the future of online presence and user engagement.</p>
    <div class="button-spacing3"></div>
        <div class="buttons-container">
            <button class="button-long">About us</button>
            <div class="button-spacing"></div> <!-- Отступ между кнопками -->
            <button class="button-transparent">Our works</button>
        </div>
        <div class="button-spacing2"></div> <!-- Отступ между кнопками -->
        <div class="buttons-container">
            <button class="button-square">
                <img src="../images/choose.png" alt="No image">
                <span>SIMPLE</span>
            </button>
            <div class="button-spacing"></div> <!-- Отступ между кнопками -->
            <button class="button-square">
                <img src="./images/idea.png" alt="No image">
                <span>NO CODING</span>
            </button>
            <div class="button-spacing">
            </div> <!-- Отступ между кнопками -->
            <button class="button-square">
                <img src="../images/charity.png" alt="No image">
                <span>500+ SITES</span>
            </button>
            <div class="button-spacing">
            </div> <!-- Отступ между кнопками -->
            <button class="button-square">
                <img src="../images/gift.png" alt="No image">
                <span>GIFTS</span>
            </button>
        </div>
        <div class="button-spacing3"></div>
    </div>


